@charset "UTF-8";

@font-face {
  font-family: "Lucida Console", "Courier New", monospace;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}



body .shell {
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



